#bear:hover .ears {
  transform: translate(0, -10px);
}

.ears {
  transition: all .5s linear;
}

@keyframes move {

  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translate(-10px);
  }

}

.eyes {
  animation: move 3s linear infinite;
}
